<div class="main">
  <div class="terminal">
    <span class="options">
      <div class="close"></div>
      <div class="min"></div>
      <div class="max"></div>
    </span>
    <div class="code">
      <p>
        <span><i class="fa fa-apple" aria-hidden="true"></i>&nbsp;</span>
        <span class="folder"
          ><i class="fa fa-folder-open" aria-hidden="true"></i
        ></span>
        ~ > <span class="cmd">echo</span> Trevor.origin
      </p>
      <p class="out">'{{ origin }}'</p>
      <p>
        <span><i class="fa fa-apple" aria-hidden="true"></i>&nbsp;</span>
        <span class="folder"
          ><i class="fa fa-folder-open" aria-hidden="true"></i
        ></span>
        ~ > <span class="cmd">echo</span> Trevor.education
      </p>
      <p class="out">'{{ education }}'</p>
      <p>
        <span><i class="fa fa-apple" aria-hidden="true"></i>&nbsp;</span>
        <span class="folder">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
        </span>
        ~ > <span class="cmd">echo</span> Trevor.major
      </p>
      <p class="out">'{{ major }}'</p>
      <p>
        <span><i class="fa fa-apple" aria-hidden="true"></i>&nbsp;</span>
        <span class="folder">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
        </span>
        ~ > <span class="cmd">echo</span> Trevor.experience
      </p>
      <p class="experience">
        [
        <br />
        {{ experience.join(",\n ") }}
        <br />
        ]
      </p>
      <p>
        <span><i class="fa fa-apple" aria-hidden="true"></i>&nbsp;</span>
        <span class="folder">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
        </span>
        ~ > <span class="cmd">echo</span> Trevor.interests
      </p>
      <p class="out">[ {{ interests.join(", ") }} ]</p>
    </div>
  </div>
</div>
