.card-div {
  display: flex;
  margin: 100px;
  width: 90%;
  height: auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .card-div {
    flex-direction: column;
  }
}

@keyframes card-effect {
  from {
    box-shadow: -10px -10px #102027;
  }
  to {
    box-shadow: 10px 10px #102027;
  }
}

.card {
  width: 200px;
  height: auto;
  border-color: #212121;
  border: 2px solid #212121;
  border-radius: 8px;
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px #102027;
}

.card-header {
  padding: 10px;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.card-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
