<div class="card-div">
  <ul *ngFor="let proj of results" style="list-style: none">
    <li>
      <div class="card">
        <div class="card-header">
          {{ proj.name }}
          <a href="{{ proj.githubUrl }}">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">
          {{ proj.description }}
        </div>
        <div class="card-footer">
          <ul id="stack" *ngFor="let lang of proj['languages']">
            <li>
              <img src="{{ langs[lang['name']] }}" alt="/" />
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
