.JavaScript {
  background: #fcdc00;
}

.NodeJs {
  background: #6ebd4a;
}

.Python {
  color: #dcdcdc;
  background: #275176;
}

.Flutter,
.Dart {
  background: #1589fd;
}

.Java {
  color: #dcdcdc;
  background: #db0101;
}

.MySQL {
  background: #4479a1;
  color: #dcdcdc;
}

.Laravel {
  color: #dcdcdc;
  background: #ff2d20;
}

.VueJs {
  background: #41b883;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.projects {
  display: grid;
  place-items: center;
  gap: 6em;
  color: #333333;
}

.card {
  display: block;
  background: #b980f0;
  height: min-content;
  width: 60%;
  padding: 1em;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-upper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.card-text {
  padding: 0.5em;
  margin: 0;
}

.card-text h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.card-text h4 {
  font-weight: 600;
}

.card-lower {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.gh-badge {
  display: flex;
  align-items: center;
  background: #b7f080;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25em;
  width: 7rem;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.gh-badge:hover {
  transform: scale(1.05);
}

span {
  margin-right: auto;
}

.badge {
  display: inline-grid;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50em;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.animate-element {
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0.5rem;
}

img {
  height: 100%;
  max-height: 175px;
  width: auto;
  border-radius: 0.5em;
}

a {
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 768px) {
  .card {
    display: block;
    width: 90vw;
  }

  .card-upper {
    flex-direction: column;
  }

  .card-lower {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gh-badge {
    margin: 2em 0 2em 0;
  }

  .tech-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
  }
}
