<div class="projects">
  <div class="card" *ngFor="let proj of projects">
    <div class="card-upper">
      <div class="card-text">
        <h1>{{ proj.name }}</h1>
        <h4>
          {{ proj.description }}
        </h4>
        <div class="card-lower">
          <a href="{{ proj.githubUrl }}">
            <div class="gh-badge">
              <span>Github</span><i class="fas fa-external-link-alt fa-lg"></i>
            </div>
          </a>
          <ul class="tech-list">
            <li
              style="--animation-order: {{ tech.id }};"
              class="hidden animate-element badge {{ tech.name }}"
              *ngFor="let tech of proj.technologies"
            >
              {{ tech.name }}
            </li>
          </ul>
        </div>
      </div>
      <img src="{{ proj.image }}" alt="/" />
    </div>
  </div>
</div>
