h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  min-height: 400px;
}

.blue {
  background: #0266ff;
}

.pink {
  background: #ff0267;
}

.green {
  background: #67ff02;
}

.spacer {
  position: relative;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wave1 {
  aspect-ratio: 960/300;
  background-image: url('../assets/wave.svg');
}

.wave2 {
  aspect-ratio: 960/150;
  background-image: url('../assets/wave2.svg');
}

.wave3 {
  aspect-ratio: 960/150;
  background-image: url('../assets/wave3.svg');
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}