h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  min-height: 400px;
  background: #0266ff;
}

.spacer {
  position: relative;
  z-index: -1;
  aspect-ratio: 960/400;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.layer1 {
  background-image: url('../assets/wave.svg');
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}