<mat-tab-group mat-align-tabs="start" style="color: white">
  <mat-tab label="Home">
    <div class="tab-content">
      <h1>
        Hello, I'm <span class="name">{{ name }}</span
        >,
      </h1>
      <h1>a {{ jobTitle }}.</h1>
      <button class="resume-btn" mat-raised-button (click)="downloadPdf()">
        View My Resume
      </button>
    </div>
  </mat-tab>
  <mat-tab label="About"
    ><div class="tab-content">{{ about }}</div></mat-tab
  >
  <mat-tab label="Portfolio"
    ><div class="tab-content"><app-projects></app-projects></div
  ></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
