:host {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 8px 8px;
  font-weight: 400;
  font-size: xxx-large;
  color: white;
}

.name {
  color: #42a5f5;
}

.intro-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
