.welc-body {
  text-align: center;
  font-size: x-large;
}

.welcome {
  margin: 0 7em 0 7em;
}

.resume-btn {
  margin-top: 3%;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: #333333;
  color: #333333;
  font-size: large;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.resume-btn:hover {
  background-color: #b980f0;
  color: #b7f080;
  border-color: #b7f080;
}

@media screen and (max-width: 700px) {
  .welc-body {
    display: block;
    text-align: center;
    font-size: large;
  }
  .welcome {
    margin: 0 2em 0 2em;
  }
}
