* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #4f5b62;
  background-color: #102027;
  background-image: url("../src/assets/prism.png");
}
