* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #f08080;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 0;
  margin: 0;
}
